* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: url('https://ocdn.eu/pulscms-transforms/1/Jpwk9kpTURBXy8wNTNiOWMwYzUyMWE4NzFhZTgzNjcwNTM0OWNkYmM3Yi5qcGeSlQMABM0DFM0Bu5MFzQMUzQG8gqEwBaExAA');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    color:aqua;
    text-align: center;
    /*line-height: 90vh; */
}

main {
    display: flex;
    flex-direction: column;
}

.gothic {
    padding: 20px;
    background-color:bisque;
}

    .gothic p {
        line-height: 1.9;
    }

.gothic-img1 {
    background-image: url('https://jarock.pl/upload/posts/afb5df4a6de23cf30dc96f0152dbf982.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 400px;
}
.gothic-img2 {
    background-image: url('https://static.wikia.nocookie.net/wogen/images/8/8a/Diego.jpg/revision/latest?cb=20120226221852');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 400px;
}
.gothic-img3 {
    background-image: url('https://www.wykop.pl/cdn/c3201142/comment_fejAOUZgvHu2o8uhfTJdV3jzYW10XeYI.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 400px;
}
.gothic-img4 {
    background-image: url('https://samequizy.pl/wp-content/uploads/2016/02/filing_images_4d4854e9046e.jpg ');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 400px;
}
.gothic-img5 {
    background-image: url('http://mondgesaenge.de/G2ADB/screens/Lester_Eingang%20Minental.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 400px;
}
.gothic-img6 {
    background-image: url('http://almanach.worldofgothic.de/images/LeeS%C3%B6ldner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 400px;
}
.gothic-img7 {
    background-image: url('https://wolnislowianie.pl/upload/photos/2021/01/xKTjBWqoVEbm78G4lcyR_12_678056721dd61d13347c525bf3d9f8d3_avatar_full.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 400px;
}
.gothic-img8 {
    background-image: url('https://www.wykop.pl/cdn/c3201142/comment_HDi1OMnDGQuFSqekcEpQg4OrlVwxBNgF,w1200h627f.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 400px;
}
.gothic-img9 {
    background-image: url('https://a.allegroimg.com/s1024/0cda9d/05ef64b94e289601608d3389a17f');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 300px;
}
.gothic-map {
    padding: 0 30px;
    width: 400px;
    height: 500px;
}
footer {
    padding: 20px;
    text-align: center;
    background-color: rgb(63, 37, 37);
    color: white;
    letter-spacing: 1px;
}

@media(min-width: 768px) {
    main {
        flex-wrap: wrap;
        flex-direction: row;
    }

    .gothic {
        width: 50%;
    }
}
